* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
a{
	color: #1C2C40;
}
.wrapper{
	width: 85%;
    margin: 0 auto;
}
header #main{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}
header section #main div.left {
    width: 8%;
}
header section #main div.left a img {
    display: block;
    width: 100%;
}
header section #main div.middle{}
header section #main div.middle ul{
	display: flex;
    justify-content: space-between;
}
header section #main div.middle ul li{
	margin-right: 20px;
}
header section #main div.middle ul li:hover{
	text-decoration: underline #160647;
}

header section #main div.middle ul li:last-child{
	margin-right: 0;
}
header section #main div.right ul {
    display: flex;
}
header section #main div.right ul li{
	margin-left: 20px;
}
header section #main div.right ul li a.button {
    border: 2px solid #175cff;
    padding: 10px 15px;
    border-radius: 15px;
    color: #175cff;
	font-weight: 800;
}
header section #main div.right ul li a.button:hover {
    color: #fff;
    background: #175cff;
}
#centeralighn{
	margin-top: 10%;
	margin-bottom: 10%;
}	
.wrapper1 {
		width: 90%;
	
}
#centeralighn div.left div.p h1 {
    font-weight: bolder;
    font-size: 75px;
    width: 86%;
    color: #0a080a;
}
#centeralighn .wrapper .center div.left div.p p {
    font-weight: 600;
    color: #2a2929ab;
    width: 36%;
    margin: 30px 0;
}
#centeralighn .wrapper .center div.left div.p a.button {
    color: #eaedf2;
    background: #3b3bff;
    border-radius: 30px;
    padding: 15px 31px;
    font-size: 20px;
	font-weight: 800;
}
#centeralighn .wrapper .center div.left div.p a.button:hover {
    color:#175cff ;
    background: #f3f3f7;
    border: 2px solid #3b3bff;
}
.order{
	margin-top: 50px;
}
.order ul li{
	display: flex;
	margin-bottom: 20px;
}
.Im{
	margin-right: 20px;
}
.center{
	display: flex;
}
#centeralighn .center div.right {
    position: relative;
    width: 50%;
}
#centeralighn .center div.right div.bg {
	position: absolute;
    right: 0;
    top: 435px;
    z-index: 1;
}
#centeralighn .center div.right div.image {
	position: absolute;
    right: 30px;
    z-index: 2;
}
#centeralighn .center div.right div.image img {
	width: 100%;
    height: 80vh;
}
#centeralighn .center div.right div.quote {
	position: absolute;
    z-index: 4;
    top: 367px;
    left: -109px;
}
#centeralighn .center  div.right div.text {
	background: #0a083a;
    position: absolute;
    z-index: 3;
    padding: 32px;
    width: 69%;
    top: 386px;
    right: 243px;
}
#centeralighn .center div.right div.text p {
    color: #fff;
    font-size: 16px;
}
#centeralighn .center div.right div.text h5{
	color: #fff;
    margin-top: 10px;
}
#centeralighn .center div.right .background{
	background: #f1f1f1;
    padding: 60%;
    position: absolute;
    z-index: 0;
    right: -141px;
    top: 91px;
    bottom: 0;
    width: 100%;
}